.container {
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: center; /* Centering the logo */
    align-items: center;
    margin-bottom: 20px;
}

header img {
    max-width: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    text-align: center;
}

.section-header {
    margin-top: 30px;
}

.section-container {
    margin-bottom: 30px;
    text-align: center;
}

button, input[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover, input[type="submit"]:hover {
    background-color: darkgreen;
}
